.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: normal;
}

.gymnastics {
    background-color: red;
    color: blue;
}

.legend-item {
    display: flex;
    align-items: left;
}

.legend-circle {
    width: 10px;
    height: 10px;
    align-items: center;
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 8px;
}

.legend-text {
    font-size: small;
    color: grey;
}